<!DOCTYPE html>
<html>
<head>
<title>Flask Multiple Upload</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>IMH CDN서버 업로드</h1>
IMH CDN서버에 업로드합니다. <br>


<hr align="left" style="width:350px"><p>

<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <strong>Upload OP#</strong><br>
    <input type="text" size="20" name="Upload_OP"><p>

    <strong>업로드 서버</strong><br>
    <input type="checkbox" name="Server" value="cdn1.cntc" checked disabled>천안(cdn1.cntc.imholic.com)<p>
    
    <strong>파일 이름 규칙:</strong><br>
    <input type="radio" name="name_type" value="REPL" checked> 한글/공백 제거하고 파일이름 보존. (기본) <br>
    <input type="radio" name="name_type" value="RAND"> 확장자만 남기고 랜덤. <br>
    <input type="radio" name="name_type" value="ORIG"> 파일이름 무조건 보전. <br>

    <strong>링크 생성 타입:</strong><br>
    <input type="radio" name="link_type" value="Discord" checked> 디스코드 타입 (기본) <br>
    <input type="radio" name="link_type" value="Long"> 긴 UUID 타입 <br>
    <input type="radio" name="link_type" value="Short"> 짧은 타입 <p>    

    <strong>Note(파일 설명)</strong><br>
    <textarea rows="4" cols="40" name="File_Description" placeholder="해당 파일을 설명해주세요"></textarea><p>

    <strong>Files:</strong><br>
    Select files OR drag them into the box below.
    <br>
    <input id="file-picker" type="file" name="file" multiple><p>

    <div id="dropbox", style="width:300px">
        Drag and Drop Files Here
    </div><p>

    <fieldset id="progress" style="display: none">
        <legend>Files Progress</legend>

        <div class="progress-trough">
            <div id="progress-bar" class="progress-bar">0%</div>
        </div>
    </fieldset><p>

    <input type="submit" value="Upload!" id="upload-button">
</form>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/uploadr.js') }}"></script>

</body>
</html>